pandas==2.3.0
numpy==1.26.4
matplotlib==3.10.3
seaborn==0.13.2
scipy==1.16.0
geopandas==1.1.1
contextily==1.6.2
shapely==2.1.1
libpysal==4.13.0
esda==2.7.1
spreg==1.8.3
splot==1.1.7
optbinning==0.20.1
jenkspy==0.4.1
scikit-learn==1.4.2
imbalanced-learn==0.12.3
holidays==0.78
tqdm==4.66.4